* {
	margin: 0;
	padding: 0;
}
.form {
	justify-content: center;
	display: flex;
	margin: 2rem 0;
	gap: 2rem;
	align-items: center;
}

.todoUl {
	width: 100%;
	max-width: 60%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-inline: auto;
	justify-content: center;

	@media (min-width < 760px) {
		max-width: 100%;
		justify-content: stretch;
	}
}

.li {
	text-decoration: none;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid hsl(0, 1%, 31%);
	border-radius: 1rem;
	background-color: bisque;
	padding: 1rem;
	@media (min-width < 1024px) {
		flex-direction: column;
	}
	p {
		text-align: center;
		margin: 0;
		padding: 0;
	}
}

.titleAndStatus {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.buttons {
	display: flex;
	gap: 1rem;
}

button:disabled {
	opacity: 0.4;
}

.strike {
	text-decoration: line-through;
}

.btn {
	background: hsla(160, 68%, 69%, 0.289);
	border: 1px solid hsl(152, 49%, 20%);
	color: hsl(131, 77%, 32%);

	padding: 0.25em 0.5em;
	border-radius: 0.25em;
	cursor: pointer;
	outline: none;
}

.btn:hover,
.btn:focus-visible {
	background: hsla(160, 68%, 69%, 0.4);
}

.btn.btn-edit {
	background: hsl(200, 100%, 50%, 0.1);
	color: hsl(200, 100%, 50%);
	border: 1px solid hsl(200, 100%, 50%);
}

.btn.btn-edit:hover,
.btn.btn-edit:focus-visible {
	background: hsl(200, 100%, 50%, 0.2);
}

.btn.btn-danger {
	background: hsl(0, 100%, 40%, 0.1);
	border: 1px solid hsl(0, 100%, 40%);
	color: hsl(0, 100%, 40%);
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
	background: hsl(0, 100%, 40%, 0.2);
}

.placeholder {
	margin-top: 5rem;
	align-items: center;
	justify-content: center;
	display: flex;
}

input[type="text"],
button {
	padding: 0.5em;
	font: inherit;
	line-height: 1;
}

.empty-list-styles {
	display: flex;
	flex-direction: column;
	margin-top: 10rem;
	text-align: center;
	font-size: larger;
	font-style: italic;
	font-weight: 700;
}

.quote {
	align-self: self-start;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}
